<div class="container-page">
  <section class="home-page">
    <img src="../../../../assets/images/show-publico.jpg" alt="palco com luzes">
  </section>

  <button mat-button class="bt-back" routerLink="/adm/options">VOLTAR</button>

  <input type="text" class="search-events" placeholder="BUSQUE SUA RESERVA">
  <button type="submit" class="bt-search">BUSCAR</button>

  <div class="container-cards" *ngFor="let reservation of minhasReservas">
    <div class="card">
      <div class="text-card">
        <span class="span-card">Nome: {{reservation.nameTicket}}</span>
        <span class="span-card">Quantidade: {{reservation.quantityTicket}}</span>
        <!-- <div class="actions">
          <div class="action-element-edit">
            <button>Editar Evento</button>
          </div>
          <div class="action-element-delete">
            <button>Excluir Evento</button>
          </div>
        </div> -->
      </div>
      <div class="name-show">
        <span class="title-show">{{reservation.title}}</span>
        <span class="date-show">{{reservation.date | date: 'dd/MM/yyyy - HH:mm'}}</span>
        <span class="local-show">{{reservation.local}}</span>
      </div>
    </div>
  </div>

</div>
