<section class="home-page">
  <img src="../../../assets/images/palco.jpeg" alt="palco com luzes">
  <span>BRIGHT LIGHTS - Login</span>
  <p>SINTA A LUZ, APROVEITE O SHOW</p>


    <!-- <div class="container-adm">
      <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        <div class="adm-form">
          <input placeholder="Digite seu usuário de Adm" class="inputAdm"  formControlName="user" type="text">
          <input placeholder="Digite sua senha de Adm" class="inputAdm"  formControlName="password" type="password">
          <button mat-button type="submit" class="submitAdm" [disabled]="formLogin.invalid">Logar Agora</button>
        </div>
      </form>
    </div> -->
</section>
