<div class="container-page">
  <section class="home-page">
    <img src="../../../../assets/images/show-publico.jpg" alt="palco com luzes">
    <button mat-button class="bt-back" routerLink="">VOLTAR</button>
    <h1>CONTATO</h1>

    <section class="contatos">
      <h2>Caso deseja ser um de nossos organizadores entre em contato conosco através de um dos meios abaixo:</h2>
      <a href="mailto:brighlights@organizacao.com.br?subject=Desejo me tornar um organizador&body=Amei a estrutura de vocês e desejo espalhar a música pelo mundo, me tornando um organizador Bringht Lights." title="">
        <h3><i class="fa-regular fa-envelope"></i> Email: brighlights@organizacao.com.br</h3>
      </a>
      <a href="https://api.whatsapp.com/send?phone=5599940028922&text=Amei%20a%20estrutura%20de%20voc%C3%AAs%20e%20desejo%20espalhar%20a%20m%C3%BAsica%20pelo%20mundo,%20me%20tornando%20um%20organizador%20Bringht%20Lights.">
        <h3><i class="fa-brands fa-whatsapp"></i> Telefone: (11) 94002-8922</h3>
      </a>
    </section>
  </section>


</div>
