<section class="home-page">
  <img src="../../../assets/images/palco.jpeg" alt="palco com luzes">
  <span>BRIGHT LIGHTS</span>
  <p>SINTA A LUZ, APROVEITE O SHOW</p>
</section>

<section class="home-page-events">
  <div class="container-events-home">
    <div class="text-events">
      <p>Aproveite momentos únicos, e conheça todas nossos <br> espetáculos de luz</p>
      <button mat-button class="bt-ver-eventos-home">Ver eventos</button>
    </div>
    <img src="../../../assets/images/microfone.png" alt="microfone">
  </div>
</section>
