<div class="container-page">
  <section class="home-page">
    <img src="../../../../assets/images/show-publico.jpg" alt="palco com luzes">
    <button mat-button class="bt-back" routerLink="">VOLTAR</button>
    <h1>SOBRE NÓS</h1>
    <div class="quem-somos">
      <h2>Somos uma empresa que busca unir o amor das pessoas por grandes shows, junto com quem sabe fazer isso acontecer, nosso objetivo é espalhar a música, a dança, a festa, a cultura de cada um dos diferentes espetáculos que conseguimos organizar.</h2>
      <div class='options'>
        <p>Venha vivenciar um de nossos espetáculos faça agora mesmo sua reserva</p>
        <button mat-button class="bt-ver-eventos-home" routerLink="/user">Escolher Show</button>
      </div>
    </div>
  </section>


</div>
