.home-page{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.home-page img {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  filter: brightness(0.5);
}

.home-page p{
  margin-top: 4rem;
  font-size: 5rem;
  padding: 1rem 2rem 2rem 2rem;
}

.bt-back {
  position: absolute;
  top: 6rem;
  left: 4rem;
}

.container-events{
  width: 90vw;
  display: flex;
  margin: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}


.card-container {
  padding: 2rem;
  background-color: var(--bg-cards--bt-options);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  border-radius: 1.5rem;
  transform: scale(1.2);
  min-width: 18vw;
  min-height: 35vh;
}

.card-container h2{
  font-size: 2.4rem;
}

.card-container h3{
  font-size: 1rem;
  color: var(--txt-color-dark-blue)
}

.card-container h4{
  font-size: .8rem;
  color: var(--txt-color-dark-blue)
}



.action-element-edit, .action-element-delete{
  text-align: center;
  margin: 1rem;
}

.action-element-edit button, .action-element-delete button {
  padding: .2rem 1rem;
  border-radius: 1rem;
  background-color: var(--bg-bt);
}

.action-element-edit button:hover {
  cursor: pointer;
  background: var(--bg-bt-edit);
  transition: .5s all;
}

.action-element-delete button:hover {
  cursor: pointer;
  background: var(--bg-bt-delete);
  transition: .5s all;
}
