<section class="home-page">
  <img src="../../../assets/images/palco.jpeg" alt="palco com luzes">

  <mat-form-field>
    <div class="form-container">
      <div class="form">
        <p>CRIAR EVENTO</p>

        <div class="column-form">
          <div class="form-align">
            <div class="element-form">
              <mat-label>NOME DO EVENTO</mat-label>
              <input matInput>
            </div>
            <div class="element-form">
              <mat-label>DESCRIÇÃO DO EVENTO</mat-label>
              <input matInput>
            </div>
            <div class="element-form">
              <mat-label>PREÇO DO INGRESSO</mat-label>
              <input matInput>
            </div>
          </div>
          <div class="form-align">
            <div class="element-form">
              <mat-label>DATA E HORA DO EVENTO</mat-label>
              <input matInput>
            </div>
            <div class="element-form">
              <mat-label>LOCAL DO EVENTO</mat-label>
              <input matInput>
            </div>
            <div class="element-form">
              <mat-label>ENDEREÇO DO EVENTO</mat-label>
              <input matInput>
            </div>
          </div>
        </div>
      </div>
      <button mat-button class="bt-submit-event">CRIAR EVENTO</button>
    </div>
  </mat-form-field>
</section>
