
.home-page{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 83vh;
  flex-direction: column;
}

.home-page img {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  filter: brightness(0.5);
}

.bt-back {
  position: absolute;
  top: 6rem;
  left: 4rem;
}

.form p{
  font-size: 5rem;
  padding: 1rem 2rem 2rem 2rem;
}


.form, .column-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.form p{
  text-align: center;
}

.form button{
  justify-self: center;
}

.form-container{
  width: 100vw;
}

.form, .form-align .element-form, .form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.element-form {
  margin: 1rem;
}

.element-form mat-label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.element-form input {
  background: var(--bg-cards--bt-options);
  outline: none;
  text-align: center;
  padding: 1rem;
  width: 60vh;
  border-radius: 1rem;
  font-size: 1.2rem;
}

.element-form::-webkit-input-placeholder {
  color:var(--placeholder-color-adm)
}

.bt-submit-event {
  width: 40vw;
  padding: 1.2rem;
  background-color: var(--bg-bt);
  border-radius: 1rem;
  font-size: 1.5rem;
}
