<section class="home-page">
  <img src="../../../assets/images/palco.jpeg" alt="palco com luzes">
  <button mat-button class="bt-back">VOLTAR</button>
  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
      <div class="form">
        <p>CRIAR EVENTO</p>

        <div class="column-form">
          <div class="form-align">
              <mat-form-field class="element-form">
                <mat-label>NOME DO EVENTO</mat-label>
                <input matInput formControlName="title" type="text">
              </mat-form-field>
            <mat-form-field class="element-form">
              <mat-label>DESCRIÇÃO DO EVENTO</mat-label>
              <input matInput formControlName="description" type="text">
            </mat-form-field>
            <mat-form-field class="element-form">
              <mat-label>PREÇO DO INGRESSO</mat-label>
              <input matInput formControlName="price" type="number">
            </mat-form-field>
          </div>
          <div class="form-align">
            <mat-form-field class="element-form">
              <mat-label>DATA E HORA DO EVENTO</mat-label>
              <input matInput formControlName="date" type="datetime-local" max="9999-12-31T23:59" mask="DD/MM/yyyy HH:mm">
            </mat-form-field>
            <mat-form-field class="element-form">
              <mat-label>LOCAL DO EVENTO</mat-label>
              <input matInput formControlName="local" type="text">
            </mat-form-field>
            <mat-form-field class="element-form">
              <mat-label>ENDEREÇO DO EVENTO</mat-label>
              <input matInput formControlName="address" type="text">
            </mat-form-field>
          </div>
        </div>
      </div>
      <button type="submit" mat-button class="bt-submit-event" [disabled]="form.invalid">CRIAR EVENTO</button>
    </form>
  </div>
</section>
