<section class="home-page">
  <img src="../../../assets/images/luzes-fundo.jpg" alt="palco com luzes">
  <button mat-button class="bt-back" routerLink="/adm/options">VOLTAR</button>
  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
      <div class="form">
        <p>CRIAR EVENTO</p>

        <div class="column-form">
          <div class="form-align">
              <div class="element-form">
                <label>NOME DO EVENTO</label>
                <input matInput formControlName="title" type="text">
              </div>
            <div class="element-form">
              <label>DESCRIÇÃO DO EVENTO</label>
              <input matInput formControlName="description" type="text">
            </div>
            <div class="element-form">
              <label>PREÇO DO INGRESSO</label>
              <input matInput formControlName="price" type="number">
            </div>
          </div>
          <div class="form-align">
            <div class="element-form">
              <label>DATA E HORA DO EVENTO</label>
              <input matInput formControlName="date" type="datetime-local" max="9999-12-31T23:59" mask="DD/MM/yyyy HH:mm">
            </div>
            <div class="element-form">
              <label>LOCAL DO EVENTO</label>
              <input matInput formControlName="local" type="text">
            </div>
            <div class="element-form">
              <label>ENDEREÇO DO EVENTO</label>
              <input matInput formControlName="address" type="text">
            </div>
          </div>
        </div>
      </div>
      <button type="submit" mat-button class="bt-submit-event" [disabled]="form.invalid">CRIAR EVENTO</button>
    </form>
  </div>
</section>
