
<section class="home-page">
  <img src="../../../assets/images/luzes-fundo.jpg" alt="palco com luzes">
  <div class="container-options">
    <button mat-button class="bt-options" routerLink="/adm/create">CRIAR EVENTO</button>
    <button mat-button class="bt-options" routerLink="/adm/list/events">MEUS EVENTOS</button>
    <button mat-button class="bt-options" routerLink="/user/reservas">RESERVAS EFETUADAS</button>
    <button mat-button class="log-out" routerLink="">ENCERRAR SESSÃO</button>
  </div>
</section>

