<mat-toolbar class="toolbar">
  <div class="menu-adm">
    <button mat-button><img src="../assets/images/lock-icon.png" alt="lock" class="lock-icon"></button>
    <button mat-button>BRIGHT LIGHTS</button>
  </div>
  <div class="navbar">
    <button mat-button>MINHAS RESERVAS</button>
    <button mat-button>EVENTOS</button>
    <button mat-button>CONTATO</button>
    <button mat-button>SOBRE NÓS</button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>


<footer>
  <p>© 2023 - Bright lights</p>
  <p>todos os direitos reservados</p>
</footer>
