
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--bg-footer);
  width: 100%;
  padding: 1rem 0;
}

footer p {
  font-size: 0.8rem;
}

