<div class="container-page">
  <section class="home-page">
    <img src="../../../../assets/images/show-publico.jpg" alt="palco com luzes">
  </section>

  <div class="container-events">
      <div class="card-container">
        <h2>{{event.title}}</h2>
        <h3>{{event.description}}</h3>
        <h3>{{event.date| date: 'dd/MM/yyyy - HH:mm'}}</h3>
        <h3>{{event.local}}</h3>
        <h4>R$ {{event.price}}</h4>
      </div>
      <div class="data-reservation">
        <input type="text" placeholder="Nome do responsável pela reserva">
        <input type="number" placeholder="Quantidade" (change)="reservationTotal($event)">
        <span class="reservationValue">Total R$: <span>{{total}}</span></span>
        <button class="bt-reservation">RESERVAR</button>
      </div>
  </div>

</div>
